@import 'normalize';
/*=============================================
Base
=============================================*/

html,
body {
    height: 100%;
    margin: 0;
}
body {
    padding: 0;
    font-family: 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 22px;
}
img {
    max-width: 100%;
}
* {
    box-sizing: border-box;
}
a {
    outline: none;
}
.main {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/*=============================================
Plugin
=============================================*/

.slick-slide {
    position: relative;
    video {
        width: 100%;
        height: auto;
    }
    img {
        margin: 0 auto;
        width: 100%;
    }
    .sh {
        &-pc {
            display: block;
        }
        &-mb {
            display: none;
        }
    }
}

.slick-arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: -10px;
    padding: 3px;

    &:before {
        content: none;
    }
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
}
.slick-next {
    transform: rotate(-45deg);
}
.slick-prev {
    transform: rotate(135deg);
}

.slick-dots {
    li {
        button:before {
            opacity: 0.8;
            color: #fff;
        }
        &.slick-active {
            button:before {
                opacity: 1;
                color: #00baff;
            }
        }
    }
}
video {
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .slick-next,
    .slick-prev {
        width: 30px;
        height: 30px;
    }
    .shots {
        .slick-slide {
            transform: scale(0.9);
            transition: all 0.5s;
            &.slick-current.slick-center {
                transform: scale(1);
            }
        }
    }
    .slick-slide {
        img {
            margin: 0 auto;
            width: 100%;
        }
        .sh {
            &-pc {
                display: none;
            }
            &-mb {
                display: block;
            }
        }
    }
}

.black-popup-block {
    background: #000;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullpopup {
    .mfp-content {
        height: 100%;
    }
    .mfp-container {
        padding: 0;
    }
}

/*=============================================
Menu
=============================================*/

.logo {
    position: absolute;
    left: 30px;
    display: block;
    width: 100px;
    height: 100%;
    background: url(img/n-logo-asus-white.svg) no-repeat center;
    background-size: contain;
}
.cart {
    position: absolute;
    right: 30px;
    display: block;
    width: 30px;
    height: 100%;
    background: url(img/icon-cart.svg) no-repeat center;
    background-size: contain;
}
.menu {
    position: relative;
    background-color: #1a1a1a;
    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    &__wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
    &__list {
        display: block;
        text-align: center;
        font-size: 0;
        .item {
            display: inline-block;
            // width: 25%;
            margin: 0 25px;
            a {
                display: block;
                padding: 20px 0;
                width: 100%;
                height: 100%;
                font-size: 24px;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                /*隱藏文字*/
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 25px;
                &:hover,
                &.active {
                    color: #00deff;
                }
            }
            &:nth-child(1) {
                // width: 160px;
                width: 230px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                width: 100px;
            }
            &:nth-child(4) {
                width: 130px;
            }
            &:nth-child(5) {
                width: 155px;
            }
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    a {
                        background-image: url(img/menu/menu-text-0#{$i}-n.png);
                        &:hover,
                        &.active {
                            background-image: url(img/menu/menu-text-0#{$i}.png);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .cart {
        right: 60px;
    }
    .menu {
        position: relative;
        height: 50px;
        &__list {
            display: none;
            background-color: rgba(#1a1a1a, 0.9);
            position: fixed;
            z-index: 100;
            width: 100%;
            height: 100%;
            &.menu-on {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .item {
                display: block;

                a {
                    background-size: auto 30px;
                }
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .burger-menu {
        position: absolute;
        z-index: 600;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        .burger {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            width: 25px;
            height: 2px;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            &:before,
            &:after {
                position: absolute;
                background: #fff;
                width: 25px;
                height: 2px;
                content: '';
                display: block;
                transition: all 0.3s ease-in-out;
            }
            &:before {
                top: 8px;
            }
            &:after {
                bottom: 8px;
            }
        }
        &.menu-on {
            .burger {
                background: rgba(#fff, 0);
                &:before,
                &:after {
                    height: 2px;
                }
                &:after {
                    transform: rotate(-45deg);
                    bottom: 0px;
                }
                &:before {
                    transform: rotate(45deg);
                    top: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .logo {
        left: 15px;
    }
}
/*=============================================
Section
=============================================*/

.section {
    padding: 100px 0;
    &__title {
        text-align: center;
        .title-ch {
            position: relative;
            top: -20px;
        }
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    &-shot {
        padding-bottom: 0;
        .wrapper {
            max-width: 100%;
        }
    }
    &__info {
        text-align: center;
        font-size: 24px;
        line-height: 1.7em;
        max-width: 1000px;
        margin: 0 auto 2em auto;
    }
    &-instruction {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10px 0;
    }
    &-masterpiece {
        position: relative;
        &:before {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 400px;
            top: -4px;
            background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
        }
        &:after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 400px;
            bottom: 0;
            background: linear-gradient(0deg, #0e1e38 0%, #1a1a1a 100%);
        }
    }
    &-instagram {
        position: relative;
        &:before {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 400px;
            top: -4px;
            background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
        }
        &:after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 400px;
            bottom: 0;
            background: linear-gradient(0deg, #0e1e38 0%, #1a1a1a 100%);
        }
    }

    &-bloggers {
        position: relative;
        &:before {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 400px;
            top: -4px;
            background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
        }
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 60px 0;
        &__title {
            .title-ch {
                width: 80%;
                top: -10px;
            }
            .title-en {
                width: 90%;
            }
        }
        &__info {
            font-size: 18px;
            padding: 0 15px;
        }
        &-masterpiece {
            .title-ch {
                width: 35%;
            }
            &:before {
                display: none;
            }
        }
        &-instruction {
            display: flex;
            flex-wrap: wrap;
            padding: 30px 0;
        }
        &-shot {
            position: relative;
            .title-ch {
                width: 70%;
            }
            &:before {
                position: absolute;
                z-index: -1;
                content: '';
                display: block;
                width: 100%;
                height: 400px;
                top: -4px;
                background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
            }
        }
        &-instagram {
            padding-bottom: 100px;
        }
        &-bloggers {
            padding-bottom: 20px;
        }
    }
}

/*=============================================
Layout 
=============================================*/

/*----------  主輪播  ----------*/

.main-slider {
    .slick-arrow {
        border-width: 0 6px 6px 0;
        padding: 6px;
        z-index: 50;
    }

    .slick-next {
        right: 20px;
    }
    .slick-prev {
        left: 20px;
    }

    &__item.youtube {
        .popup-player {
            position: relative;
            display: block;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 84px;
                height: 84px;
                background: url(img/icon-play.svg) no-repeat center;
                background-size: cover;
                z-index: 10;
            }
        }
    }
    .slick-dots {
        bottom: 4vw;
        li {
            button:before {
                text-shadow: 0 2px 5px #1a1a1a;
            }
        }
    }
    &.slick-dotted {
        &.slick-slider {
            margin-bottom: 0;
        }
    }
}

/*----------  十大攝影技巧  ----------*/
.shots {
    .slick-arrow {
        position: absolute;
        z-index: 50;
        // top: 105%;
        &.slick-prev {
            left: 20px;
        }
        &.slick-next {
            right: 20px;
        }
    }

    font-size: 0;
    margin-right: -6px;
    a {
        color: #fff;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: block;
        width: 84px;
        height: 84px;
        background: url(img/icon-play.svg) no-repeat center;
        background-size: cover;
        z-index: 10;
        opacity: 0;
    }
    &__item {
        cursor: pointer;
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: calc(100% / 6);
        border: 1px solid #444;
        margin: 0px 0px -1px -1px;
        .thumbnail {
            width: 100%;
            transition: all 5s;
        }
        &:after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: all 0.5s;
            z-index: 5;
            // background: linear-gradient(180deg, #0094f2 0%, #010041 100%);
            background: #1a1a1a;
        }
        &:hover {
            a {
                opacity: 1;
            }
            .thumbnail {
                transform: scale(1.2);
            }
            .title {
                opacity: 0;
            }
            &:after {
                opacity: 0;
            }
        }
        .title {
            position: absolute;
            bottom: 50%;
            left: 55%;
            transform: translate(-50%, 50%);
            width: 80%;
            height: 80%;
            pointer-events: none;

            font-size: 30px;
            z-index: 10;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .title {
            span {
                color: #00c8fb;
                margin-bottom: 60px;
            }
            span:nth-child(2) {
                color: #fff !important;
                font-size: 0.8em;
                margin: 0.5em 0;
            }
        }
        // &:nth-child(n+6){
        //     .title {
        //       span{
        //         color:#9DC3E6;
        //       }
        //     }
        // }
    }
}

/*----------  基礎進階教學  ----------*/
.btn-instruction {
    width: 50%;
    height: 300px;
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: #000;
    margin: 10px;
    /*隱藏文字*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            background-image: url(img/instruction/instruction0#{$i}.png);
            &:hover {
                background-image: url(img/instruction/instruction0#{$i}-h.png);
            }
        }
    }
    &:hover {
        box-shadow: 0px 0px 10px 10px rgba(#00c8fb, 0.2) inset;
    }
}
.modal-instruction {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .wrapper {
        width: 70%;
        margin: 0 auto;
    }
    h2 {
        /*隱藏文字*/
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        max-width: 450px;
        height: 120px;
        margin: 0 auto;
    }

    @for $i from 1 through 3 {
        &#instruction-modal#{$i} {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(img/instruction/bg-instruction02.jpg);
            h2 {
                background: url(img/instruction/title-instruction0#{$i}.png) no-repeat center;
                background-size: contain;
            }
        }
    }

    a {
        text-decoration: none;
        color: #8c8c8c;
        font-size: 22px;
        margin: 25px 0;
        text-align: center;
        &:hover {
            color: #00baff;
        }
    }
    .slick-prev {
        left: -15px;
    }
    .slick-next {
        right: -15px;
    }

    .slick-slide {
        div {
            display: flex;
            align-items: center;
        }
    }
}

/*----------  大師作品集  ----------*/

.master {
    margin: 100px 0;
    &:last-child {
        margin-bottom: 0;
    }
}
.masterProfile {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &__name {
        text-align: center;
        width: 32%;
        .title {
            color: #8c8c8c;
        }
    }
    &__info {
        width: 65%;
        line-height: 1.7em;
    }
}
.master-slider {
    max-width: 1200px;
    width: 100%;
    &__item {
        padding: 10px;

        a {
            display: block;
            overflow: hidden;
        }
        .thumbnail {
            transition: all 0.5s;
        }
        &:hover {
            .thumbnail {
                transform: scale(1.2);
            }
        }
    }
}
/*----------  作品錦集  ----------*/
.users-slider {
    max-width: 1160px;
    margin: 0 auto;
    &__item {
        padding: 5px 10px;
        cursor: pointer;
    }
    .userCard {
        position: relative;
        display: block;
        max-width: 375px;
        margin: 0 auto;
        color: #fff;
        outline: none;
        overflow: hidden;
        .thumbnail {
            transition: all 0.5s;
        }
        .name {
            font-size: 18px;
            width: 100%;
            text-align: center;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
        .acc {
            font-size: 14px;
        }
        .description {
            position: absolute;
            width: 90%;
            height: 2.8em;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 18px;
            line-height: 1.4em;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: 10;
        }
        &:after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            transition: all 0.5s;
            z-index: 5;
            // background: linear-gradient(180deg, #0094f2 0%, #010041 100%);
            background: #1a1a1a;
        }
        &:hover {
            .thumbnail {
                transform: scale(1.2);
            }
            &:after {
                opacity: 0;
            }
        }
    }
}
/*----------  知名部落格  ----------*/
.blog-slider {
    &__item {
        padding: 5px;
    }
}
.blogCard {
    text-align: center;
    &__top {
        position: relative;
        margin: 0 auto;
        text-align: left;
        .thumbnail {
            width: 100%;
        }
        .title {
            color: #fff;
            position: absolute;
            width: 100%;
            bottom: 0;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
            padding: 20px;
        }
    }
    &__bottom {
        position: relative;
        text-align: left;
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;
        .description {
            font-size: 20px;
            line-height: 1.2em;
            text-align: left;
            margin-bottom: 1.5em;
        }
        .link {
            position: relative;
            display: inline-block;
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #4d545f;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .shots {
        &__item {
            width: 25%;
            .title {
                font-size: 26px;
            }
        }
    }
    .btn-instruction {
        width: 100%;
        height: 200px;
        background-size: 300px auto;
    }
}
@media screen and (max-width: 768px) {
    .shots {
        &__item {
            border: none;
            width: 100%;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
            &:after {
                opacity: 0.7;
            }
            .title {
                font-size: 8vw;
                line-height: 1.5em;
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
            }
            a {
                opacity: 1;
                bottom: 15%;
                left: 21%;
                width: 65px;
                height: 65px;
            }
            &:hover {
                .title {
                    opacity: 1;
                }
            }
        }
        &.type {
            a {
                left: 20%;
                bottom: 15%;
            }
        }
    }

    .modal-instruction {
        .wrapper {
            width: 100%;
            margin: 0 auto;
        }
    }

    .masterProfile {
        flex-direction: column;
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 80%;
            margin: 0 auto 50px auto;
            background-color: #4d545f;
        }
        &__name {
            width: 80%;
            // img[alt='馬賽'] {
            //   width: 45%;
            // }
            .title {
                font-size: 18px;
            }
        }
        &__info {
            width: 100%;
            font-size: 18px;
            padding: 0 15px;
        }
    }
    .master {
        margin: 50px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .master-slider {
        width: 80%;
        margin: 20px 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        &__item {
            padding: 0;
        }
    }

    .users-slider {
        &__item {
            padding: 0;
        }
        .slick-slide {
            > div {
                margin-bottom: -4px;
            }
        }
        .slick-dots {
            bottom: -50px;
        }
        .slick-prev,
        .slick-next {
            top: 115%;
            z-index: 10;
        }
        .slick-prev {
            left: 20px;
        }
        .slick-next {
            right: 20px;
        }
        .userCard {
            .description {
                font-size: 16px;
            }
        }
    }
    .blogCard {
        &__top {
            .title {
                padding: 15px;
            }
        }
        &__bottom {
            padding-top: 10px;
            .description {
                font-size: 16px;
            }
            .link {
                font-size: 16px;
                margin-bottom: 1em;
                float: right;
            }
        }
    }
    .more-blog {
        display: block;
        background: url(img/btn-more.png) no-repeat center;
        background-size: contain;
        width: 230px;
        height: 120px;
        margin: 20px auto;
    }
}

.mfp-close {
    font-size: 60px;
}
#btn-back-top {
    display: none;
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/gotop.png);

    /*隱藏文字*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.mfp-vertical {
    .mfp-video-block {
        height: 100vh;
        width: calc(100vh / 1.8);
    }
    .mfp-iframe-holder {
        padding-top: 0;
        .mfp-close {
            top: 0;
        }
    }
}
.mfp-video-block {
    position: relative;
    width: auto;
    max-width: 750px;
    margin: 0px auto;

    video {
        width: 100%;
        height: 100%;
        outline: none;
    }
    .social-share {
        position: absolute;
        z-index: 10;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        text-align: center;
    }
    .mfp-close {
        color: #fff;
    }
}
.social-share__list {
    // display: none;
    &.is-open {
        display: block;
    }
}
.btn-share {
    display: none;
    cursor: pointer;
    display: inline-block;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url(img/icon-share.png);
}
.social-share__item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    background-color: rgba(#444, 0);
    transition: all 0.3s;
    border-radius: 50%;
    &:hover {
        background-color: rgba(#444, 0.8);
    }
}
.social-share__link {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    &--fb {
        background-image: url(img/icon-fb.png);
    }
    &--line {
        background-image: url(img/icon-line.png);
    }
    &--link {
        background-image: url(img/icon-link.png);
    }
}
.social-share__copy {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(#444, 0.8);

    border-radius: 5px;

    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;

    input {
        appearance: none;
        background: none;
        border: none;
        outline: none;
        color: #fff;
        padding-left: 1px;
        padding-right: 1px;
        text-align: left;
        font-size: 12px;
    }

    .btn-copy,
    .btn-close {
        display: inline-block;
        appearance: none;
        background: none;
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
    }
    .btn-copy {
        background-image: url(img/icon-copy.png);
    }
    .btn-close {
        background-image: url(img/icon-cancel.png);
    }
}

/*=============================================
is Mobile
=============================================*/
.isMobile {
    .mfp-container {
        // background-color: #000;
    }
    .mfp-vertical {
        .mfp-video-block {
            width: 100%;
        }
    }
}
.isAppleDevice {
    .mfp-video-block {
        .mfp-close {
            right: 60px;
        }
    }
}
