@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*=============================================
Base
=============================================*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  font-family: 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 22px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  outline: none;
}

.main {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/*=============================================
Plugin
=============================================*/
.slick-slide {
  position: relative;
}

.slick-slide video {
  width: 100%;
  height: auto;
}

.slick-slide img {
  margin: 0 auto;
  width: 100%;
}

.slick-slide .sh-pc {
  display: block;
}

.slick-slide .sh-mb {
  display: none;
}

.slick-arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-top: -10px;
  padding: 3px;
}

.slick-arrow:before {
  content: none;
}

.slick-next,
.slick-prev {
  width: 40px;
  height: 40px;
}

.slick-next {
  transform: rotate(-45deg);
}

.slick-prev {
  transform: rotate(135deg);
}

.slick-dots li button:before {
  opacity: 0.8;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #00baff;
}

video {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;
  }
  .shots .slick-slide {
    transform: scale(0.9);
    transition: all 0.5s;
  }
  .shots .slick-slide.slick-current.slick-center {
    transform: scale(1);
  }
  .slick-slide img {
    margin: 0 auto;
    width: 100%;
  }
  .slick-slide .sh-pc {
    display: none;
  }
  .slick-slide .sh-mb {
    display: block;
  }
}

.black-popup-block {
  background: #000;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullpopup .mfp-content {
  height: 100%;
}

.fullpopup .mfp-container {
  padding: 0;
}

/*=============================================
Menu
=============================================*/
.logo {
  position: absolute;
  left: 30px;
  display: block;
  width: 100px;
  height: 100%;
  background: url(img/n-logo-asus-white.svg) no-repeat center;
  background-size: contain;
}

.cart {
  position: absolute;
  right: 30px;
  display: block;
  width: 30px;
  height: 100%;
  background: url(img/icon-cart.svg) no-repeat center;
  background-size: contain;
}

.menu {
  position: relative;
  background-color: #1a1a1a;
}

.menu.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.menu__list {
  display: block;
  text-align: center;
  font-size: 0;
}

.menu__list .item {
  display: inline-block;
  margin: 0 25px;
}

.menu__list .item a {
  display: block;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  /*隱藏文字*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 25px;
}

.menu__list .item a:hover, .menu__list .item a.active {
  color: #00deff;
}

.menu__list .item:nth-child(1) {
  width: 230px;
}

.menu__list .item:nth-child(2), .menu__list .item:nth-child(3) {
  width: 100px;
}

.menu__list .item:nth-child(4) {
  width: 130px;
}

.menu__list .item:nth-child(5) {
  width: 155px;
}

.menu__list .item:nth-child(1) a {
  background-image: url(img/menu/menu-text-01-n.png);
}

.menu__list .item:nth-child(1) a:hover, .menu__list .item:nth-child(1) a.active {
  background-image: url(img/menu/menu-text-01.png);
}

.menu__list .item:nth-child(2) a {
  background-image: url(img/menu/menu-text-02-n.png);
}

.menu__list .item:nth-child(2) a:hover, .menu__list .item:nth-child(2) a.active {
  background-image: url(img/menu/menu-text-02.png);
}

.menu__list .item:nth-child(3) a {
  background-image: url(img/menu/menu-text-03-n.png);
}

.menu__list .item:nth-child(3) a:hover, .menu__list .item:nth-child(3) a.active {
  background-image: url(img/menu/menu-text-03.png);
}

.menu__list .item:nth-child(4) a {
  background-image: url(img/menu/menu-text-04-n.png);
}

.menu__list .item:nth-child(4) a:hover, .menu__list .item:nth-child(4) a.active {
  background-image: url(img/menu/menu-text-04.png);
}

.menu__list .item:nth-child(5) a {
  background-image: url(img/menu/menu-text-05-n.png);
}

.menu__list .item:nth-child(5) a:hover, .menu__list .item:nth-child(5) a.active {
  background-image: url(img/menu/menu-text-05.png);
}

@media screen and (max-width: 1024px) {
  .cart {
    right: 60px;
  }
  .menu {
    position: relative;
    height: 50px;
  }
  .menu__list {
    display: none;
    background-color: rgba(26, 26, 26, 0.9);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
  .menu__list.menu-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__list .item {
    display: block;
  }
  .menu__list .item a {
    background-size: auto 30px;
  }
  .menu__list .item:nth-child(1) {
    width: 100%;
  }
  .menu__list .item:nth-child(2) {
    width: 100%;
  }
  .menu__list .item:nth-child(3) {
    width: 100%;
  }
  .menu__list .item:nth-child(4) {
    width: 100%;
  }
  .menu__list .item:nth-child(5) {
    width: 100%;
  }
  .burger-menu {
    position: absolute;
    z-index: 600;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .burger-menu .burger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 25px;
    height: 2px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .burger-menu .burger:before, .burger-menu .burger:after {
    position: absolute;
    background: #fff;
    width: 25px;
    height: 2px;
    content: '';
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .burger-menu .burger:before {
    top: 8px;
  }
  .burger-menu .burger:after {
    bottom: 8px;
  }
  .burger-menu.menu-on .burger {
    background: rgba(255, 255, 255, 0);
  }
  .burger-menu.menu-on .burger:before, .burger-menu.menu-on .burger:after {
    height: 2px;
  }
  .burger-menu.menu-on .burger:after {
    transform: rotate(-45deg);
    bottom: 0px;
  }
  .burger-menu.menu-on .burger:before {
    transform: rotate(45deg);
    top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    left: 15px;
  }
}

/*=============================================
Section
=============================================*/
.section {
  padding: 100px 0;
}

.section__title {
  text-align: center;
}

.section__title .title-ch {
  position: relative;
  top: -20px;
}

.section__title img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.section-shot {
  padding-bottom: 0;
}

.section-shot .wrapper {
  max-width: 100%;
}

.section__info {
  text-align: center;
  font-size: 24px;
  line-height: 1.7em;
  max-width: 1000px;
  margin: 0 auto 2em auto;
}

.section-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 0;
}

.section-masterpiece {
  position: relative;
}

.section-masterpiece:before {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  height: 400px;
  top: -4px;
  background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
}

.section-masterpiece:after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  height: 400px;
  bottom: 0;
  background: linear-gradient(0deg, #0e1e38 0%, #1a1a1a 100%);
}

.section-instagram {
  position: relative;
}

.section-instagram:before {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  height: 400px;
  top: -4px;
  background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
}

.section-instagram:after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  height: 400px;
  bottom: 0;
  background: linear-gradient(0deg, #0e1e38 0%, #1a1a1a 100%);
}

.section-bloggers {
  position: relative;
}

.section-bloggers:before {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  height: 400px;
  top: -4px;
  background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
}

@media screen and (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
  .section__title .title-ch {
    width: 80%;
    top: -10px;
  }
  .section__title .title-en {
    width: 90%;
  }
  .section__info {
    font-size: 18px;
    padding: 0 15px;
  }
  .section-masterpiece .title-ch {
    width: 35%;
  }
  .section-masterpiece:before {
    display: none;
  }
  .section-instruction {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .section-shot {
    position: relative;
  }
  .section-shot .title-ch {
    width: 70%;
  }
  .section-shot:before {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 400px;
    top: -4px;
    background: linear-gradient(180deg, #0e1e38 0%, #1a1a1a 100%);
  }
  .section-instagram {
    padding-bottom: 100px;
  }
  .section-bloggers {
    padding-bottom: 20px;
  }
}

/*=============================================
Layout 
=============================================*/
/*----------  主輪播  ----------*/
.main-slider .slick-arrow {
  border-width: 0 6px 6px 0;
  padding: 6px;
  z-index: 50;
}

.main-slider .slick-next {
  right: 20px;
}

.main-slider .slick-prev {
  left: 20px;
}

.main-slider__item.youtube .popup-player {
  position: relative;
  display: block;
}

.main-slider__item.youtube .popup-player:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 84px;
  height: 84px;
  background: url(img/icon-play.svg) no-repeat center;
  background-size: cover;
  z-index: 10;
}

.main-slider .slick-dots {
  bottom: 4vw;
}

.main-slider .slick-dots li button:before {
  text-shadow: 0 2px 5px #1a1a1a;
}

.main-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*----------  十大攝影技巧  ----------*/
.shots {
  font-size: 0;
  margin-right: -6px;
}

.shots .slick-arrow {
  position: absolute;
  z-index: 50;
}

.shots .slick-arrow.slick-prev {
  left: 20px;
}

.shots .slick-arrow.slick-next {
  right: 20px;
}

.shots a {
  color: #fff;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: block;
  width: 84px;
  height: 84px;
  background: url(img/icon-play.svg) no-repeat center;
  background-size: cover;
  z-index: 10;
  opacity: 0;
}

.shots__item {
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: calc(100% / 6);
  border: 1px solid #444;
  margin: 0px 0px -1px -1px;
}

.shots__item .thumbnail {
  width: 100%;
  transition: all 5s;
}

.shots__item:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s;
  z-index: 5;
  background: #1a1a1a;
}

.shots__item:hover a {
  opacity: 1;
}

.shots__item:hover .thumbnail {
  transform: scale(1.2);
}

.shots__item:hover .title {
  opacity: 0;
}

.shots__item:hover:after {
  opacity: 0;
}

.shots__item .title {
  position: absolute;
  bottom: 50%;
  left: 55%;
  transform: translate(-50%, 50%);
  width: 80%;
  height: 80%;
  pointer-events: none;
  font-size: 30px;
  z-index: 10;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shots__item .title span {
  color: #00c8fb;
  margin-bottom: 60px;
}

.shots__item .title span:nth-child(2) {
  color: #fff !important;
  font-size: 0.8em;
  margin: 0.5em 0;
}

/*----------  基礎進階教學  ----------*/
.btn-instruction {
  width: 50%;
  height: 300px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-color: #000;
  margin: 10px;
  /*隱藏文字*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.btn-instruction:nth-child(1) {
  background-image: url(img/instruction/instruction01.png);
}

.btn-instruction:nth-child(1):hover {
  background-image: url(img/instruction/instruction01-h.png);
}

.btn-instruction:nth-child(2) {
  background-image: url(img/instruction/instruction02.png);
}

.btn-instruction:nth-child(2):hover {
  background-image: url(img/instruction/instruction02-h.png);
}

.btn-instruction:nth-child(3) {
  background-image: url(img/instruction/instruction03.png);
}

.btn-instruction:nth-child(3):hover {
  background-image: url(img/instruction/instruction03-h.png);
}

.btn-instruction:hover {
  box-shadow: 0px 0px 10px 10px rgba(0, 200, 251, 0.2) inset;
}

.modal-instruction {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-instruction .wrapper {
  width: 70%;
  margin: 0 auto;
}

.modal-instruction h2 {
  /*隱藏文字*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
  height: 120px;
  margin: 0 auto;
}

.modal-instruction#instruction-modal1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/instruction/bg-instruction02.jpg);
}

.modal-instruction#instruction-modal1 h2 {
  background: url(img/instruction/title-instruction01.png) no-repeat center;
  background-size: contain;
}

.modal-instruction#instruction-modal2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/instruction/bg-instruction02.jpg);
}

.modal-instruction#instruction-modal2 h2 {
  background: url(img/instruction/title-instruction02.png) no-repeat center;
  background-size: contain;
}

.modal-instruction#instruction-modal3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/instruction/bg-instruction02.jpg);
}

.modal-instruction#instruction-modal3 h2 {
  background: url(img/instruction/title-instruction03.png) no-repeat center;
  background-size: contain;
}

.modal-instruction a {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 22px;
  margin: 25px 0;
  text-align: center;
}

.modal-instruction a:hover {
  color: #00baff;
}

.modal-instruction .slick-prev {
  left: -15px;
}

.modal-instruction .slick-next {
  right: -15px;
}

.modal-instruction .slick-slide div {
  display: flex;
  align-items: center;
}

/*----------  大師作品集  ----------*/
.master {
  margin: 100px 0;
}

.master:last-child {
  margin-bottom: 0;
}

.masterProfile {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.masterProfile__name {
  text-align: center;
  width: 32%;
}

.masterProfile__name .title {
  color: #8c8c8c;
}

.masterProfile__info {
  width: 65%;
  line-height: 1.7em;
}

.master-slider {
  max-width: 1200px;
  width: 100%;
}

.master-slider__item {
  padding: 10px;
}

.master-slider__item a {
  display: block;
  overflow: hidden;
}

.master-slider__item .thumbnail {
  transition: all 0.5s;
}

.master-slider__item:hover .thumbnail {
  transform: scale(1.2);
}

/*----------  作品錦集  ----------*/
.users-slider {
  max-width: 1160px;
  margin: 0 auto;
}

.users-slider__item {
  padding: 5px 10px;
  cursor: pointer;
}

.users-slider .userCard {
  position: relative;
  display: block;
  max-width: 375px;
  margin: 0 auto;
  color: #fff;
  outline: none;
  overflow: hidden;
}

.users-slider .userCard .thumbnail {
  transition: all 0.5s;
}

.users-slider .userCard .name {
  font-size: 18px;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.users-slider .userCard .acc {
  font-size: 14px;
}

.users-slider .userCard .description {
  position: absolute;
  width: 90%;
  height: 2.8em;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
}

.users-slider .userCard:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: all 0.5s;
  z-index: 5;
  background: #1a1a1a;
}

.users-slider .userCard:hover .thumbnail {
  transform: scale(1.2);
}

.users-slider .userCard:hover:after {
  opacity: 0;
}

/*----------  知名部落格  ----------*/
.blog-slider__item {
  padding: 5px;
}

.blogCard {
  text-align: center;
}

.blogCard__top {
  position: relative;
  margin: 0 auto;
  text-align: left;
}

.blogCard__top .thumbnail {
  width: 100%;
}

.blogCard__top .title {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.blogCard__bottom {
  position: relative;
  text-align: left;
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}

.blogCard__bottom .description {
  font-size: 20px;
  line-height: 1.2em;
  text-align: left;
  margin-bottom: 1.5em;
}

.blogCard__bottom .link {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.blogCard__bottom .link:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #4d545f;
}

@media screen and (max-width: 1024px) {
  .shots__item {
    width: 25%;
  }
  .shots__item .title {
    font-size: 26px;
  }
  .btn-instruction {
    width: 100%;
    height: 200px;
    background-size: 300px auto;
  }
}

@media screen and (max-width: 768px) {
  .shots__item {
    border: none;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .shots__item:after {
    opacity: 0.7;
  }
  .shots__item .title {
    font-size: 8vw;
    line-height: 1.5em;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .shots__item a {
    opacity: 1;
    bottom: 15%;
    left: 21%;
    width: 65px;
    height: 65px;
  }
  .shots__item:hover .title {
    opacity: 1;
  }
  .shots.type a {
    left: 20%;
    bottom: 15%;
  }
  .modal-instruction .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .masterProfile {
    flex-direction: column;
  }
  .masterProfile:before {
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    margin: 0 auto 50px auto;
    background-color: #4d545f;
  }
  .masterProfile__name {
    width: 80%;
  }
  .masterProfile__name .title {
    font-size: 18px;
  }
  .masterProfile__info {
    width: 100%;
    font-size: 18px;
    padding: 0 15px;
  }
  .master {
    margin: 50px 0;
  }
  .master:last-child {
    margin-bottom: 0;
  }
  .master-slider {
    width: 80%;
    margin: 20px 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .master-slider__item {
    padding: 0;
  }
  .users-slider__item {
    padding: 0;
  }
  .users-slider .slick-slide > div {
    margin-bottom: -4px;
  }
  .users-slider .slick-dots {
    bottom: -50px;
  }
  .users-slider .slick-prev,
  .users-slider .slick-next {
    top: 115%;
    z-index: 10;
  }
  .users-slider .slick-prev {
    left: 20px;
  }
  .users-slider .slick-next {
    right: 20px;
  }
  .users-slider .userCard .description {
    font-size: 16px;
  }
  .blogCard__top .title {
    padding: 15px;
  }
  .blogCard__bottom {
    padding-top: 10px;
  }
  .blogCard__bottom .description {
    font-size: 16px;
  }
  .blogCard__bottom .link {
    font-size: 16px;
    margin-bottom: 1em;
    float: right;
  }
  .more-blog {
    display: block;
    background: url(img/btn-more.png) no-repeat center;
    background-size: contain;
    width: 230px;
    height: 120px;
    margin: 20px auto;
  }
}

.mfp-close {
  font-size: 60px;
}

#btn-back-top {
  display: none;
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/gotop.png);
  /*隱藏文字*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.mfp-vertical .mfp-video-block {
  height: 100vh;
  width: calc(100vh / 1.8);
}

.mfp-vertical .mfp-iframe-holder {
  padding-top: 0;
}

.mfp-vertical .mfp-iframe-holder .mfp-close {
  top: 0;
}

.mfp-video-block {
  position: relative;
  width: auto;
  max-width: 750px;
  margin: 0px auto;
}

.mfp-video-block video {
  width: 100%;
  height: 100%;
  outline: none;
}

.mfp-video-block .social-share {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
}

.mfp-video-block .mfp-close {
  color: #fff;
}

.social-share__list.is-open {
  display: block;
}

.btn-share {
  display: none;
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url(img/icon-share.png);
}

.social-share__item {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  background-color: rgba(68, 68, 68, 0);
  transition: all 0.3s;
  border-radius: 50%;
}

.social-share__item:hover {
  background-color: rgba(68, 68, 68, 0.8);
}

.social-share__link {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.social-share__link--fb {
  background-image: url(img/icon-fb.png);
}

.social-share__link--line {
  background-image: url(img/icon-line.png);
}

.social-share__link--link {
  background-image: url(img/icon-link.png);
}

.social-share__copy {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.social-share__copy input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 1px;
  padding-right: 1px;
  text-align: left;
  font-size: 12px;
}

.social-share__copy .btn-copy,
.social-share__copy .btn-close {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.social-share__copy .btn-copy {
  background-image: url(img/icon-copy.png);
}

.social-share__copy .btn-close {
  background-image: url(img/icon-cancel.png);
}

/*=============================================
is Mobile
=============================================*/
.isMobile .mfp-vertical .mfp-video-block {
  width: 100%;
}

.isAppleDevice .mfp-video-block .mfp-close {
  right: 60px;
}
